<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>IKEA Components</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
    
</head>


<body>

<div class="outer">
    <div class="topnav">
        FURNITURE ASSORTMENT
    </div>
    <div class="page">
    <div class="container">
        
        
        <!-- another row --> 
        <div class="row">
    
            <div class="col-5">
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/bedroom.jpg" />
                    <span class="section">BEDROOM</span></br>
                    <p>Beds and Matresses</p>
                    <p>Dressers and Drawers</p>
                    <p>Amoires and Wardrobes</p>
                    <p>Nightstands</p>
                    <p>Bedroom Furniture Sets</p>

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/livingroom.jpg" />
                    <span class="section">LIVING ROOM</span></br>
                    <p>Sofas and Sectionals</p>
                    <p>TV and Media Furniture</p>
                    <p>Armchairs and Accent Chairs</p>
                    <p>Display and Storage Cabinets</p>
                    <p>Flooring, Rugs, and Mats</p>

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/kitchen.jpg" />
                    <span class="section">KITCHEN</span></br>
                    <p>Tables and Chairs</p>
                    <p>Islands and Countertops</p>
                    <p>Faucets and Sinks</p>
                    <p>Kitechnware and Appliances</p>
                    <p>Organization and Wall Storage</p>

                </div>
                <!--SIDE BAR END -->
                <!--SIDE BAR -->
                <div class="side_bar">
                    <img src="img/bathroom.jpg" />
                    <span class="section">BATHROOM</span></br>
                    <p>Bathroom Furniture Sets</p>
                    <p>Vanities and Cabinets</p>
                    <p>Bathroom Textiles</p>
                    <p>Sinks, Faucets, and Taps</p>
                    <p>Bathroom Accessories</p>

                </div>
                <!--SIDE BAR END -->
            </div>
        </div> 

        
    </div>
  </div>
</div>


</body>

</html>
 